.home .banner{
    background-image: url('../assets/inner-pages/home_opening.JPG');
  
    width: 100%;
    height: calc(100%);
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 690px;
    background-position: 0px -210px;
}
.flash-news{
    text-align: right;
}
.flash-news .quotes{
    text-align: center;
}
.home.banner-section{
    border-bottom:5px solid #b8bdb7;
}
.home.banner-section .flash-news{
    background-color: #dfd246;
}
.home.banner-section .quotes{
    background-color: #977804; 
}
.flashred{
    color : red;
}
.detail h5{
    text-align: center;
}
@media (max-width: 767.98px) { 
    .home .banner{
        height: 300px;
    display: block;
    background-position: 0px -280px;
    }

}