.banner{
  
    height: 470px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .banner{
    background-image: url('../assets/inner-pages/home_opening.JPG');
    width: 100%;
    height: calc(100%);
}


.flash-news{
    text-align: right;
}
.flash-news .quotes{
    text-align: center;
}

.carousel-inner{
    height: 339px;
}
.home.banner-section .flash-news{
    background-color: #dfd246;
}
.home.banner-section .quotes{
    background-color: #977804; 
}
.flashred{
    color : red;
}
.detail h5{
    text-align: center;
}

/**about style start**/
.about .banner{
    background-image: url('../assets/inner-pages/home_opening.JPG');
}

/**about style end**/

/**ourteam style start**/
.ourteampage .banner{
    background-image: url('../assets/inner-pages/ourteam.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(2) span{
    background-image: url('../assets/inner-pages/person_1.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(3) span{
    background-image: url('../assets/inner-pages/person_2.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(4) span{
    background-image: url('../assets/inner-pages/person_3.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(5) span{
    background-image: url('../assets/inner-pages/person_4.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(6) span{
    background-image: url('../assets/inner-pages/person_5.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(7) span{
    background-image: url('../assets/inner-pages/person_6.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(9) span{
    background-image: url('../assets/inner-pages/person_7.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(10) span{
    background-image: url('../assets/inner-pages/person_8.png');
}
.ourteampage .img-row-1 div.img-clm:nth-child(11) span{
    background-image: url('../assets/inner-pages/person_9.png');
}

.ourteampage .img-row-1 div> span{
    display: block;
    margin:0 auto;
    width: 120px;
    height: 128px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.ourteampage .img-row-1 h3,h5,h6{
    text-align: center;
}

/**ourteam style end**/


/**contatc us start**/
.contact .banner{
    background-image: url('../assets/inner-pages/ourteam.png');
}
.contactpage .row.detail h4,.contactpage .row.detail h5,.contactpage .row.detail h6{
    text-align: center;
}
.contactpage .row.detail h4{
    text-decoration: underline;
}
/**contatc us end**/

@media (max-width: 767.98px) { 
   .home .banner{
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .main-title h1 {
        font-size: 1em;
    }

}
@media (max-width: 575.98px) { 
    .home .banner{
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .main-title h1 {
        font-size: 1em;
    }
}